/* Targets the body colour */

*{
    margin: 0;
    padding: 0%;
    
}


body {
background-color: #c2dede;
font-family: Jost Arial, Helvetica, sans-serif;
line-height: 2; /*2 Line Spacing*/
color: #ffffff;
}

h1{
    
    font-family: "BBH Sans Bogle", sans-serif ;
    background-color: #ffffff;

    margin-bottom: 0.5em; /* em- scales on font size */
    padding-left: 10px;
    
    
}

h2{background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1%;
    margin-left: 5px;
    padding-left: 10px;

}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 5px;
    padding-left: 10px;
    
}

ul{

    padding: 15px;
    margin-left: 25px;
}
nav a{
    padding: 1em;
    padding-left: 10px;
    font-weight: bold;
    color: #645d50;
}