
:root{
    --primary:  #4b2d1e;
    --dark: #362d2a;
    --light: #ffffff;
    --muted: #f8f6f5;
--font-normal: Roboto, Arial, Sans-serif;
--font-heading:'Noto Serif', serif;

}

/*css Reset-Target Everything*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
;

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font-normal);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
}
p{
    margin-bottom: 0.5rem;
}

/**** COLOR ***********/

.bg-primary{ background-color: var(--primary); }
.bg-dark {background-color: var(--dark);}
.bg-light {background-color: var(--light);}
.bg-muted{background-color: var(--muted);}

.text-primary{ color: var(--primary); }
.text-dark {color: var(--dark);}
.text-light {color: var(--light);}
.text-muted{color: var(--muted);}

/********** SWATCHES ****************/
.swatches {
    display: flex;
    gap: 0.5rem;
}


.swatch .swatch-value {
    
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    width: 3rem; /* Root Font size:16px */
    box-shadow: 0 0.1rem 0.2rem 0.1cm rgba(45, 40, 35, 0.2);
}

.swatch .swatch-name {

    text-align: center;
}